# EXACT --------------------------------------------------------------------------------------------
/node_modules/
/ignore/
/config.js

# BY MASK ------------------------------------------------------------------------------------------
*.iml
.idea
.DS_Store
