# EXACT --------------------------------------------------------------------------------------------
/node_modules/
/ignore/

# BY MASK ------------------------------------------------------------------------------------------
*.iml
.idea
.DS_Store
